body {
margin: 0;
padding: 0;
}

.hero {
height: 100vh;
background: #f2f2f2;
padding-top: 60px;
}

.project-card {
margin: 10px;
}

.card {
transition: 0.3s;
}

.card:hover {
transform: scale(1.03);
}

footer {
margin-top: 40px;
}

#topBtn {
position: fixed;
bottom: 20px;
right: 20px;
display: none;
padding: 10px;
background: black;
color: white;
border: none;
}
